<% var data = {
  title: "DHL | Services",
  author: "Stirlitz2322"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section-preloader" style="background-image: url(../../img/preloader.svg);">
  <div class="container">
    <div class="row">
      <h1 class="h1">We Deliver<br>With Speed</h1>
      <div class="yellow-line"></div>
      <h3 class="h3">When an unknown printer took a galley of type and scrambled<br>
        it to make a type specimen book. It has survived not only five centuries</h3>
        <p class="odds">Amazing<span class="yellow-point">&emsp;.&emsp;</span>Quick<span class="yellow-point">&emsp;.&emsp;</span><span class="nowrap"> 24/7 Supports</span></p>
        <nav>
          <ul class="button-case">
            <li><a href="#" class="yellow-button">Learn more</a></li>
            <li><a href="#" class="white-button">DHL worldwide</a></li>
          </ul>
        </nav>
    </div>
  </div>
</div>

<div class="section-services">
  <div class="container">
    <h2 class="h2" style="background-image: url(../../img/Services\ .png);">Awesome Services</h2>

        <div class="services-home">
          <a href="#" class="services-item">
          <span class="services-item-img" style="background-image: url(../../img/2.png);"></span>
          <span class="services-item-content">
            <h3 class="h3">Express Services</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
            <p class="more">Read More </p>
          </span>
          </a>


          <a href="#" class="services-item">
          <span class="services-item-img" style="background-image: url(../../img/4.png);"></span>
          <span class="services-item-content">
            <h3 class="h3">Express Services</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
            <p class="more">Read More </p>
          </span>
        </a>


          <a href="#" class="services-item">
          <span class="services-item-img" style="background-image: url(../../img/5.png);"></span>
          <span class="services-item-content">
            <h3 class="h3">Express Services</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
            <p class="more">Read More </p>
          </span>
        </a>


        <a href="#" class="input-item">
          <div class="inputcase">
          <h4 class="h4">DHl Worldwide</h4>
          <div class="yellow-line-center"></div>
          <p>When an unknown prot printer type and scra</p>
          <select name="location">
            <option disabled>Location</option>
            <option value="Kyiv"><Kyiv/option>
            <option value="Berlin">Berlin</option>
            <option value="Roma">Roma</option>
            <option value="Praha">Praha</option>
            <option value="Paris">Paris</option>
            <option value="Amsterdam">Amsterdam</option>
          </select>
          <button class="yellow-button">Explore</button>
        </div>
        </a>



  </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>




