<% var data = {
  title: "DHL | Services",
  author: "Stirlitz2322"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section-preloader" style="background-image: url(../../img/preloader.svg);">
  <div class="container">
    <div class="row">
      <h1 class="h1">We Deliver<br>With Speed</h1>
      <div class="yellow-line"></div>
      <h3 class="h3">When an unknown printer took a galley of type and scrambled<br>
        it to make a type specimen book. It has survived not only five centuries</h3>
        <p class="odds">Amazing<span class="yellow-point">&emsp;.&emsp;</span>Quick<span class="yellow-point">&emsp;.&emsp;</span><span class="nowrap"> 24/7 Supports</span></p>
        <nav>
          <ul class="button-case">
            <li><a href="#" class="yellow-button">Learn more</a></li>
            <li><a href="#" class="white-button">DHL worldwide</a></li>
          </ul>
        </nav>
    </div>
  </div>
</div>

<div class="section-services">
  <div class="container">
    <h2 class="h2" style="background-image: url(../../img/Services\ .png);">Awesome Services</h2>

        <div class="services-home">
          <a href="#" class="services-item">
          <span class="services-item-img" style="background-image: url(../../img/2.png);"></span>
          <span class="services-item-content">
            <h3 class="h3">Express Services</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
            <p class="more">Read More </p>
          </span>
          </a>


          <a href="#" class="services-item">
          <span class="services-item-img" style="background-image: url(../../img/4.png);"></span>
          <span class="services-item-content">
            <h3 class="h3">Frieght Transport</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
            <p class="more">Read More </p>
          </span>
        </a>


          <a href="#" class="services-item">
          <span class="services-item-img" style="background-image: url(../../img/5.png);"></span>
          <span class="services-item-content">
            <h3 class="h3">Parcel & Ecommerce</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
            <p class="more">Read More </p>
          </span>
        </a>

        <div class="services-item-location">
          <div>
            <h4 class="h4">DHl Worldwide</h4>
            <div class="yellow-line-center"></div>
            <p>When an unknown prot printer type and scra</p>
          </div>
        <div class="select">
          <select>
            <option value="Location">Location...</option>
            <option value="Kyiv">Kyiv</option>
            <option value="Berlin">Berlin</option>
            <option value="Roma">Roma</option>
            <option value="Praha">Praha</option>
            <option value="Paris">Paris</option>
            <option value="Amsterdam">Amsterdam</option>
          </select>           
        </div>
        <a href="#"><div class="yellow-button-two">EXPLORE</div></a>

      </div>



  </div>
</div>

<div class="section-more" style="background-image: url(../../img/aircraft.png);">
  <div class="container">
    <h2 class="h2">One of the best international service provider</h2>
    <a href="#"><div class="play-button"></div></a>
    <div class="photo-list">
      <div class="photo-list-item" style="background-image: url(../../img/Layer\ 7.png);"></div>
      <div class="photo-list-item" style="background-image: url(../../img/Layer\ 8.png);"></div>
      <div class="photo-list-item" style="background-image: url(../../img/Layer\ 9.png);"></div>
    </div>
  </div>
</div>

<div class="section-more-text">
  <div class="container">
    <div class="text-list">
      <div class="text-list-item">
        <h3 class="h3">Aerospace Provider</h3>
        <p>When an unknown printer took.</p>
        <p>Make a type specimen book.</p>
        <p>It has survived.</p>
        <p>Airlines unknown specimen.</p>
      </div>

      <div class="text-list-item">
        <h3 class="h3">Poppins Proved</h3>
        <p>When an unknown printer took.</p>
        <p>Make a type specimen book.</p>
        <p>It has survived.</p>
        <p>Airlines unknown specimen.</p>
      </div>

      <div class="text-list-item">
        <h3 class="h3">Airline Specimen</h3>
        <p>When an unknown printer took.</p>
        <p>Make a type specimen book.</p>
        <p>It has survived.</p>
        <p>Airlines unknown specimen.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-more-text-mobil">
  <div class="container">
    <div class="text-list-mobil">
      <div class="text-list-item-mobil">
        <div class="photo-mobil-item" style="background-image: url(../../img/Layer\ 7.png);"></div>
        <ul>
          <li class="h3">Aerospace Provider</li>
          <li class="p">When an unknown printer took.</li>
          <li class="p">Make a type specimen book.</li>
          <li class="p">It has survived.</li>
          <li class="p">Airlines unknown specimen.</li>
        </ul>
      </div>

      <div class="text-list-item-mobil">
        <div class="photo-mobil-item" style="background-image: url(../../img/Layer\ 8.png);"></div>
        <ul>
          <li class="h3">Poppins Proved</li>
          <li class="p">When an unknown printer took.</li>
          <li class="p">Make a type specimen book.</li>
          <li class="p">It has survived.</li>
          <li class="p">Airlines unknown specimen.</li>
        </ul>
      </div>

      <div class="text-list-item-mobil">
        <div class="photo-mobil-item" style="background-image: url(../../img/Layer\ 9.png);"></div>
        <ul>
          <li class="h3">Airline Specimen</li>
          <li class="p">When an unknown printer took.</li>
          <li class="p">Make a type specimen book.</li>
          <li class="p">It has survived.</li>
          <li class="p">Airlines unknown specimen.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section-select">
  <div class="container">
    <div class="wrapper">
      <div class="tabs">
        <div class="tabs__nav tabs-nav">
          <div class="tabs-nav__item is-active" data-tab-name="tab-1">EXPRESS</div>
          <div class="tabs-nav__item" data-tab-name="tab-2">LOGISTICS</div>
        </div>
        <div class="tabs__content">
          <div class="tab is-active tab-1">

            <div class="select">
              <select>
                <option value="Track your shipment">shipment</option>
                <option value="My shipment">My shipment</option>
                <option value="Your shipment">Your shipment</option>
                <option value="Our shipment">Our shipment</option>
                <option value="They shipment">They shipment</option>
              </select>          
            </div>

            <div class="select">
              <select>
                <option value="New login">New login</option>
                <option value="My account">My account</option>
                <option value="Check updates">Check updates</option>
              </select>           
            </div>

            <div class="select">
              <select>
                <option value="Find Dhl point">Find Dhl point</option>
                <option value="central point">central point</option>
                <option value="cargo terminals">cargo terminals</option>
                <option value="xpress delivery">Express delivery</option>
              </select>           
            </div>


            <div class="select">
              <select>
                <option value="find a service">find a service</option>
                <option value="Emergency">Emergency</option>
                <option value="Time Critical">Time Critical</option>
                <option value="Roma">Our shipment</option>
                <option value="Praha">Less Urgent</option>
              </select>           
            </div>
            <a href="#"><div class="yellow-button">FIND</div></a>
          </div>


          <div class="tab tab-2">
            <div class="select">
              <select>
                <option value="where does it go from">where does it go from</option>
                <option value="Kyiv">Kyiv</option>
                <option value="Berlin">Berlin</option>
                <option value="Roma">Roma</option>
                <option value="Praha">Praha</option>
                <option value="Paris">Paris</option>
                <option value="Amsterdam">Amsterdam</option>
              </select>          
            </div>

            <div class="select">
              <select>
                <option value="which city is the shipment to">which city is the shipment to</option>
                <option value="Kyiv">Kyiv</option>
                <option value="Berlin">Berlin</option>
                <option value="Roma">Roma</option>
                <option value="Praha">Praha</option>
                <option value="Paris">Paris</option>
                <option value="Amsterdam">Amsterdam</option>
              </select>           
            </div>

            <div class="select">
              <select>
                <option value="weight in kilograms">weight in kilograms</option>
                <option value="central point"> <0.5</option>
                <option value="cargo terminals">0.5 - 2</option>
                <option value="xpress delivery">2 - 5</option>
                <option value="xpress delivery">5+</option>
              </select>           
            </div>


            <div class="select">
              <select>
                <option value="type of delivery">type of delivery</option>
                <option value="express">express</option>
                <option value="common">common</option>
              </select>           
            </div>
            <a href="#"><div class="yellow-button">the next step</div></a>
          </div>
          </div>
        </div>

      </div>
      <div class="bayern-photo">
        <div class="photo-item" style="background-image: url(../../img/ribery.png);">
          <div class="dhl-logo2" style="background-image: url(../../img/dhl_logo\ 2.png);">
          </div>
        </div>
      </div>
    </div>


    </div>

  </div>
  
</div>

<div class="section-about">
  <div class="container">
    <div class="row">
      <div class="about-text col-sm-7">
        <h2 class="h2">Excellence. Simply delivered.</h2>
        <p>International express deliveries; global freight forwarding by air, sea, road and rail;<br>
          warehousing solutions from packaging, to repairs, to storage; mail deliveries worldwide;<br>
          and other customized logistic services – with everything DHL does, we
          help connect people and improve their lives.</p>
      </div>
      <div class="about-button offset-md-1 col-sm-2 col-sm-align-middle">
        <a href="#"><div class="gray-button ">Learn more</div></a>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>




