@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.ttf);
  }
  
  @font-face {
    font-family: "Fontawesome";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fontawesome-webfont.ttf);
  }
@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.eot);
}
@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.svg);
}
@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.woff);
}
@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.woff2);
}
@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/font-awesome/fonts/FontAwesome.otf);
}


