


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}
	.grid a {
		padding: 47.5px 15px;
	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.logo {
		background-position: center;
	}
	
	.grid a {
		padding: 18.5px $gutter;
	}
	.grid {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;
	  }

	  .main-menu-item:nth-child(1) {
		grid-column: 1 / 3;
		grid-row: 1fr;
	  }
	  .main-menu-item:nth-child(3) {
		grid-column: 4 / 6;
	  }
	  .main-menu-item:nth-child(4) {
		grid-column: 1 / 3;
		grid-row: 2fr;
	  }
	  .search {
		  grid-row: 1 / 3;
	  }
	  .section-preloader {
		height: 610px;
	  }
	  .section-preloader h1 {
		  margin-bottom: 30px;
		  margin-top: 60px;
	  }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.topmenu, .center {
		text-align: center;
	}
	.section-preloader {
		height: 490px;
	}
	.section-preloader h1 {
		font-size: 44px;
		text-align: center;
	}
	.yellow-line {
		display: none;
	}
	.section-preloader h3 {
		margin-bottom: 26px;
		margin-top: 0;
		font-size: 16px;
	
	}
	.ossd {
		text-align: center;
	}

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.grid {
		display: block;
	  }
	  .uppercase {
		  border-bottom: none;
	  }
	  .grid a {
		padding: 4.5px 0;
	}
	.section-preloader h1 {
		font-size: 40px;
	}
	.section-preloader h3 {
		text-align: center;
	}
	.search {
		display: block;
		position: relative;
		border-radius: 15px;
		height: 24px;
		width: 90px;
		margin-left: 38%;
		display: none;
	  }
	.search::before {
		display: none;
	}
	.search::before {
		position: absolute;
		content: "\f002";
		font-family: "Fontawesome";
		color: #fff;
		font-size: 14px;
		padding-top: 10px;
		padding-left: 5px;
	  }
	.button-case {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		align-items: center;
	}
	.button-case li{
		margin-bottom: 0px;
	}
	.button-case li:first-child {
		margin-bottom: 20px;
	}
	.yellow-button {
		margin-right: 0;
	}
	.section-preloader .odds {
		font-size: 15px;
		text-align: center;
	}
}	
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
	/**/