


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	.grid a {
		padding: 47.5px 15px;
	}
	.section-services h2 {
		padding: 50px 0;
	}
	.services-item-location {
		padding-left: 11px;
	}
	.yellow-line-center {
		margin: 30px 0;
	  }
	.select {
		padding-bottom: 30px;
		padding-top: 48px;
	  }
	.div-partner {
  		width: 212px;
  		height: 85px;
	}
	footer li {
		font-size: 12px;
	}
	footer .h3 {		
		letter-spacing: 0;
	}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.logo {
		background-position: center;
	}
	
	.grid a {
		padding: 18.5px $gutter;
	}
	.grid {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;
	  }

	  .main-menu-item:nth-child(1) {
		grid-column: 1 / 3;
		grid-row: 1fr;
	  }
	  .main-menu-item:nth-child(3) {
		grid-column: 4 / 6;
	  }
	  .main-menu-item:nth-child(4) {
		grid-column: 1 / 3;
		grid-row: 2fr;
	  }
	  .search {
		  grid-row: 1 / 3;
	  }
	  .section-preloader {
		height: 610px;
	  }
	  .section-preloader h1 {
		  margin-bottom: 30px;
		  margin-top: 60px;
	  }
	  .services-home {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	  }
	  .section-more-text-mobil {
		display: none;
	  }
	  .section-more-text {
		display: grid;
	}
	.select {
		padding-bottom: 20px;
		padding-top: 0;
	  }
	  .section-more {
		margin-top: 15px;
	}
	.wrapper {
		width: 360px;
	  }
	.bayern-photo {
		width: 300px;
		height: 410px;
		background-color: rgba(186,0,0,0);
		border: 20px solid #ffcc00;
		margin: 0 auto;
	  }
	  .photo-item {
		width: 300px;
	  }
	.section-about .h2 {
		margin-top: 45px;
	}
	.div-partner {
		width: 150px;
		height: 60px;
  	}
	.section-partner {
		padding-top: 30px;
		height: 118px;
	}
	footer .h3 {		
		font-size: 16px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.topmenu, .center {
		text-align: center;
	}
	.section-preloader {
		height: 490px;
	}
	.section-preloader h1 {
		font-size: 44px;
		text-align: center;
	}
	.yellow-line {
		display: none;
	}
	.section-preloader h3 {
		margin-bottom: 26px;
		margin-top: 0;
		font-size: 16px;
	
	}
	.ossd {
		text-align: center;
	}
	.section-services h2 {
		padding: 35px 0;
		font-size: 38px;
	}
	.services-home {
		grid-gap: 10px;
	  }
	  .photo-list-item {
		width: 100%;
		height: 120px;

	  }
	.photo-list {
		display: none;
	}
	.section-more-text-mobil {
		display: grid;
	}
	.text-list-mobil {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		margin-top: 10px;
		
	}
	.section-more-text {
		display: none;
	}
	.text-list-item-mobil {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 15px;
	  }
	.photo-mobil-item {
		width: 80%;
		height: 200px;
		background-size: cover;
		background-position: center center;	
	  }
	  .text-list-item-mobil .p {
		font-family: Poppins;
		font-size: 16px;
		color: #777;
		font-weight: 400;
		line-height: 26px;;
	  }
	  .text-list-item-mobil .p::before {
		content: "\f0da";
		font-family: Fontawesome;
		color: $yellow;
		font-size: 20px;
		margin-right: 5px;
	  }
	  .section-select .container{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;


	  }
	  .wrapper {
		width: 445px;
		margin: 0 auto;
	  }
	  .wrapper .tabs {
		  width: 473px;
	  }

	.bayern-photo {
		width: 420px;
		height: 410px;
		background-color: rgba(186,0,0,0);
		border: 20px solid #ffcc00;
	  }
	.photo-item {
		width: 420px;
		margin: 10px 0 0 10px;
	  }
	.section-select {
		margin-top: 50px;
	  }
	.section-about .h2 {
		  margin: 30px 0 15px 0;
	  }
	.section-about p {
		  font-size: 14px;
	  }
	.gray-button {
		  margin-top: 0;
	  }
	.div-partner {
		width: 200px;
		height: 80px;
		margin-top: 15px;	
  	}
	.section-partner {
		padding-top: 30px;
		height: 118px;
	}
	.partner-item {	
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;	
	  }
	.footer-img-1, .footer-img-2 {
		display: none;
	  }
	footer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	footer ul {
		height: 80px;
	}
}	
	/**/


	/* burger top nav*/
@media only screen and (max-width : 575px){
	// .topmenu {
	// 	display: none;
	// }
	
}

/* bottom-case */
@media only screen and (max-width : 553px){
	.select {
		padding-bottom: 42px;
		padding-top: 35px;
	  }
	  .yellow-button-two {
		margin-bottom: 7px;
	}
	.top-metu-button {
		height: 10px;
		width: 10px;
	}


}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.grid {
		display: block;
	  }
	  .uppercase {
		  border-bottom: none;
	  }
	  .grid a {
		padding: 4.5px 0;
	}
	.section-preloader h1 {
		font-size: 40px;
	}
	.section-preloader h3 {
		text-align: center;
	}
	.search {
		display: block;
		position: relative;
		border-radius: 15px;
		height: 24px;
		width: 90px;
		margin-left: 38%;
		display: none;
	  }
	.search::before {
		display: none;
	}
	.search::before {
		position: absolute;
		content: "\f002";
		font-family: "Fontawesome";
		color: #fff;
		font-size: 14px;
		padding-top: 10px;
		padding-left: 5px;
	  }
	.button-case {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		align-items: center;
	}
	.button-case li{
		margin-bottom: 0px;
	}
	.button-case li:first-child {
		margin-bottom: 20px;
	}
	.yellow-button {
		margin-right: 0;
	}
	.section-preloader .odds {
		font-size: 15px;
		text-align: center;
	}
	.services-home {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	  }
	.section-more h2 {
		font-size: 25px;
		letter-spacing: 1px;
		line-height: 20px;
	}
	.text-list-item-mobil {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 15px;
	  }
	.photo-mobil-item {
		height: 180px;
		width: 100%;
	}
	.wrapper {
		width: 320px;
	}
	.bayern-photo {
		width: 320px;
		height: 422px;
		background-color: rgba(186,0,0,0);
		border: 6px solid #ffcc00;
	  }
	.photo-item {
		width: 310px;
		margin: 0;
	  }
	.wrapper .tabs {
		width: 320px;
	}
	.div-partner {
		margin: 5px;
		width: 120px;
		height: 40px;
	}
	.gray-button {
		filter: none;
	}
	footer {
		height: 150px;
	}
	footer ul {
		padding-left: 5px;

	}
	footer .h3 {
		font-size: 12px;
	}
	footer .list-item {
		font-size: 10px;
	}
}	
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 436px){
	.section-about {
		height: 405px;
	}
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.section-more-text-mobil {
		display: none;
	  }
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.section-more-text-mobil {
		display: none;
	  }

}
	/**/