$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Poppins, Fontawesome, "Open Sans", "Helvetica Neue", sans-serif;


@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "fonts";



body {
  font-family: $font-stack;
  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 20rem;
    }
  }
}


.section-header {
  padding: 10px 0 10px 0;
  background-color: $red;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  margin-right: 0;
  position: relative;
}

.topmenu a, .center a {
  display: block;
  padding: 5px 25px;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
  font-family: Poppins;
  font-size: 14px;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.submenu a:hover, .topmenu a:hover, .center a:hover {
  color: yellow;
}
.center {
  position: relative;
}
.center a::before {
  content: "\f095";
  font-family: Fontawesome;
  margin-left: -15px;
  position: absolute;
}
.down::after {
  content: "\f107";
  font-family: Fontawesome;
  margin-left: 8px;
}
.one ul {
  background: $red;
}
.one ul a {
  color: #fff;
}
.one .submenu {
  display: none;
}
.one ul li:hover .submenu {
  display: block;
}
.center a {
  color: #fff;
}
.nav-item {
  padding: 10px 10px;
}
.main-menu {
  background-color: #ffcb00;
}
.logo {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 42px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-left-color: #fff;
  justify-items: center;
  align-items: center;
}
.grid a{
  padding: 47.5px $gutter;
  color: $red;
  text-decoration: none;
  text-transform: uppercase;
  

}
.main-menu-item {
  display: grid;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  
}
.uppercase {
  border-bottom: 4px solid $red;
  font-weight: bold;
}
.search {
  background-color: $red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.search::after {
  content: "\f002";
  font-family: "Fontawesome";
  color: #fff;
  font-size: 14px;
  padding-top: 15px;
}

.main-menu-item:nth-child(1) {
  grid-column: 1 / 3;
}
.main-menu-item:nth-child(3) {
  grid-column: 4 / 6;
}
.main-menu-item:nth-child(8) {
  grid-column: 11 / 13;
}


.section-preloader {
  width: 100%;
  height: 800px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.section-preloader:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
  background-image: linear-gradient(45deg, #b90000 0%, rgba(255,203,0,0) 99%);
	opacity: 0.8;
}
.section-preloader h1 {
  font-size: 70px;
  font-family: Poppins;
  color: #fff;
  text-transform: uppercase;
  margin-top: 178px;
  font-weight: bold;
  margin-bottom: 60px;
  z-index: 1;
}
.yellow-line {
  width: 100px;
  height: 4px;
  background: $yellow;
  margin-left: 12px;
  z-index: 1;
}
.section-preloader h3 {
  font-size: 20px;
  font-family: Poppins;
  color: $yellow;
  margin-top: 43px;
  margin-bottom: 48px;
  z-index: 1;
}
.section-preloader .odds {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-family: Poppins;
  margin-bottom: 42px;
  z-index: 1;
}
.odds .nowrap {
  white-space: nowrap;
}
.section-preloader nav {
  z-index: 1;
}
.section-preloader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.section-preloader li {
  display: inline;
  z-index: 1;
}
.section-preloader a {
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}
.yellow-button {
  color: $red;
  font-weight: bold;
  font-family: Poppins;
  border-radius: 50px;
  background-color: $yellow;
  padding: 15.5px 39px;
  text-align: center;
  font-size: 12px;
  background-color: $yellow;
  margin-right: 20px;
  z-index: 1;

}
.white-button {
  color: $white;
  font-weight: bold;
  font-family: Poppins;
  border-radius: 50px;
  border: $white 1px solid;
  padding: 13.5px 25px;
  text-align: center;
  font-size: 12px;
  z-index: 1;
}
.yellow-button-two {
  color: $red;
  font-weight: bold;
  font-family: Poppins;
  border-radius: 25px;
  background-color: $yellow;
  padding: 15.5px 39px;
  filter: drop-shadow(0px 10px 9px rgba(255,204,0,0.4));
  text-align: center;
  font-size: 12px;
  background-color: $yellow;
  width: 150px;
  height: 50px;
}
.yellow-point {
  color: $yellow;
  font-size: 30px;

}
.button-case .yellow-button:hover {
  color:$white;
}
.button-case .white-button:hover {
  color:$red;
}
.section-services h2 {
  font-size: 50px;
  color: $red;
  font-family: Poppins;
  font-weight: 600;
  padding: 130px 0 115px 0;
  letter-spacing: 2px;
  line-height: 80px;
  background-repeat: no-repeat;
  background-position: left;

}
.section-services h3 {
  font-family: Poppins;
  font-size: 20px;
  color: $red;
  margin: 0;
  padding: 16px 0 13px 0;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-services p {
  font-family: Poppins;
  font-size: 16px;
  color: #777;
  font-weight: 400;
  line-height: 26px;
}
.section-services .more {
  font-family: Poppins;
  color: #222;
  font-weight: bold;
}
.services-home {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat(4, 1fr);
}
.services-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
  overflow: hidden;

}
.services-item-img {
  height: 180px;
  background-size: cover;
  background-position: center;
}
.more::after {
  content: "\f0da";
  font-family: Fontawesome;
  color: $red;
}
.input-item {
  background-color: $red;
  text-decoration: none;
  display: grid;
}
.inputcase {
  margin-left: 32px;
}
.input-item h4 {
  font-family: Poppins;
  color: $white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 80px;
  font-weight: 600;
}
.yellow-line-center {
  width: 70px;
  height: 2px;
  background: $yellow;
  margin: 30px 0 0 0;
}


.section-more {
  display: grid;
  height: 100%;
  width: 100%;
  margin-top: 105px;
  position: relative;
  background-size: cover;
  background-position: center center;
  grid-template-rows: repeat 1fr 1fr 1fr;
}
.section-more .container {
  z-index: 1;
  display: grid;
  grid-template-rows: repeat ( 3, 1fr);
  position: relative;
}
.section-more::after {
  content: "";
  display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
  background-image: linear-gradient(0deg, rgba(255,203,0,0.7019607843137255) 0%, rgba(185,0,0,0) 100%);
}
.section-more h2{
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 80px;
  color: #ffffff;
  font-family: "Poppins";
  text-align: center;
}
.section-more .container a {
  display: grid;
  justify-items: center;
  text-decoration: none;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
}
.play-button {
  display: grid;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  filter: drop-shadow(0px 10px 9px rgba(255,204,0,0.4));
  background-color: $yellow;
  border: 2px solid yellow;

}
.play-button::after {
  content: "\f0da";
  font-family: Fontawesome;
  color: $red;
  font-size: 45px;
  margin-left: 27px;

}
.photo-list {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat(3, 1fr);


}
.photo-list-item {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  
}
.text-list {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat(3, 1fr);
  
}
.text-list-item {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 10px 9px rgba(191,191,191,0.4));
  background-color: #ffffff;
  padding-left: 35px;
}
.section-more-text {
  display: grid;
}
.section-more-text h3{
  font-size: 20px;
  // letter-spacing: 1px;
  line-height: 24px;
  color: $red;
  text-transform: none;
  font-family: "Poppins";
  
}
.text-list p {
  font-size: 16px;
  line-height: 1;
}
.text-list p::before {
  content: "\f0da";
  font-family: Fontawesome;
  color: $yellow;
  // position: absolute;
  font-size: 20px;
  margin-right: 5px;
}
.select::after {
  padding: 13px 16px;
  background-color: $yellow;
  content: "\f078";
  font-family: Fontawesome;
  color: $red;
  position: absolute;
  margin-left: -48px;
  pointer-events: none;
}
.select {
  position: relative;
  padding-bottom: 20px;
  padding-top: 38px;

}
.select select {
  background: #9d0000;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: $white;
  font-weight: 400;
  font-family: "Poppins";
  padding: 13px 100px 13px 6px;

}
.select select:focus {
  outline: none;
}
.section-select .select select:focus {
  outline: 0;
  color: $yellow;
  font-weight: 800;
}
.section-select .select::after {
  content: "\f078";
  background-color: $red;
  font-family: Fontawesome;
  color: $white;
  position: absolute;
  margin-left: -53px;
  pointer-events: none;
  margin-top: 2px;
  border-left: 2px solid $white;
}
.section-select .select {
  position: relative;
  padding: 10px 0;


}
.section-select .select select {
  background: $red;
  border: 2px solid $white;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  letter-spacing: 0px;
  color: $white;
  font-weight: 400;
  font-family: "Poppins";
  text-transform: uppercase;
  width: 100%;

}
.services-item-location {
  background-color: $red;
  padding-left: 30px;
}
.services-item-location p {
  color: $white;
}
.services-item-location .h4 {
  color: $white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 80px;
  font-family: "Poppins";
  font-weight: 600;
  padding-top: 32px;
  margin-bottom: 0;
}
.services-item-location a, .section-select a {
  text-decoration: none;
}
.section-select {
  margin-top: 100px;
}
.section-select .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.section-select .yellow-button {
  margin: 0;
  filter: drop-shadow(0 10px 9px rgba(255,204,0,.4));
  text-transform: uppercase;
}

//tabs
.wrapper {
  width: 480px;
  margin-right: 15px;
}
.tabs-nav {
  display: flex;
  justify-content: space-between;
}
.tabs-nav__item {
  padding: 20px;
  cursor: pointer;
  flex: 1;
  background-color: $yellow;
  filter: drop-shadow(0px 10px 9px rgba(255,204,0,0.4));
  color: $red;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: 800;
  text-align: center;
}
.tabs-nav__item.is-active {
  background-color: $red;
  color: $white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: 800;
  text-align: center;
  


}
.tab {
  display: none;
  padding: 20px;
}
.tab.is-active {
  display: block;
}
.tabs__content {
  background-color: $red;
  margin-bottom: 15px;
}

.bayern-photo {
  width: 431px;
  height: 410px;
  background-color: rgba(186,0,0,0);
  border: 20px solid #ffcc00;
  // margin: 0 auto;
}
.photo-item {
  width: 431px;
  height: 410px;
  margin: 20px 0 0 20px;
  position: relative;
}

.photo-item:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	top: 0;      
	left: 0;   
	background: transparent;
  background-image: linear-gradient(0deg, #ffcb00 0%, rgba(255,255,255,0) 100%);
	opacity: 0.8;
}
.dhl-logo2 {
  height: 50px;
  width: 156px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-about {
  background-color: $red;
  height: 350px;
}
.section-about .h2 {
  font-size: 30px;
  font-family: Poppins;
  letter-spacing: 1px;
  line-height: 24px;
  color: $white;
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.section-about p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: $white;
  font-weight: 400;
  font-family: "Poppins";
}
.section-about a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-left: 30px;
 
}
.gray-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  filter: drop-shadow(0px 10px 9px rgba(255,204,0,0.4));
  background-color: #a00000;
  margin-top: 125px;
  padding-top: 13px;
  padding-left: 24px;

}
.section-partner {
  width: 100%;
  height: 258px;
  padding-top: 70px;
}
.partner-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.div-partner {
  width: 270px;
  height: 129px;
  background-color: #f4f4f4;
  padding-left: 20px;
  padding-right: 15px;
  border: 2px solid rgba(186,0,0,0.1);
  cursor: pointer;

}
.div-partner:hover  {
  border: 2px solid #ba0000;
}
.photo-partner-item {
  display: grid;
  width: auto;
  height: 100%;
  grid-gap: $gutter;
  background-repeat: no-repeat;
  align-items: center;
  background-size: contain;
  background-position: center center;

}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 300px;
  width: 100%;
  align-items:center;
}
footer ul {
  display: grid;
  justify-content: center;
  height: 235px;
}
.footer-img-1 {
  display: grid;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.footer-img-2 {
  display: grid;
  height: 300px;
  width: 100%;
  margin-left: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

footer .h3 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #ba0000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-bottom: 15px;
}
footer li {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #a3a2a2;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer .list-item::before {
  content: "\f0da";
  color: #ba0000;
  font-family: "Fontawesome";
  margin-right: 5px;
}
.list-item a {
  text-decoration: none;
  color: #a3a2a2;
}
.list-item a:hover {
  color: $yellow;
}
.social a:hover {
  color: rgb(0, 121, 202);
}

@import "media";