$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Poppins, Fontawesome, "Open Sans", "Helvetica Neue", sans-serif;


@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "fonts";



body {
  font-family: $font-stack;
  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 20rem;
    }
  }
}


.section-header {
  padding: 10px 0 10px 0;
  background-color: $red;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  margin-right: 0;
  position: relative;
}

.topmenu a, .center a {
  display: block;
  padding: 5px 25px;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
  font-family: Poppins;
  font-size: 14px;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.submenu a:hover, .topmenu a:hover, .center a:hover {
  color: yellow;
}
.center {
  position: relative;
}
.center a::before {
  content: "\f095";
  font-family: Fontawesome;
  margin-left: -15px;
  position: absolute;
}
.down::after {
  content: "\f107";
  font-family: Fontawesome;
  margin-left: 8px;
}
.one ul {
  background: $red;
}
.one ul a {
  color: #fff;
}
.one .submenu {
  display: none;
}
.one ul li:hover .submenu {
  display: block;
}
.center a {
  color: #fff;
}
.nav-item {
  padding: 10px 10px;
}
.main-menu {
  background-color: #ffcb00;
}
.logo {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 42px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-left-color: #fff;
  justify-items: center;
  align-items: center;
}
.grid a{
  padding: 47.5px $gutter;
  color: $red;
  text-decoration: none;
  text-transform: uppercase;
  

}
.main-menu-item {
  display: grid;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  
}
.uppercase {
  border-bottom: 4px solid $red;
  font-weight: bold;
}
.search {
  background-color: $red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.search::after {
  content: "\f002";
  font-family: "Fontawesome";
  color: #fff;
  font-size: 14px;
  padding-top: 15px;
}

.main-menu-item:nth-child(1) {
  grid-column: 1 / 3;
}
.main-menu-item:nth-child(3) {
  grid-column: 4 / 6;
}
.main-menu-item:nth-child(8) {
  grid-column: 11 / 13;
}



@import "media";